th, td, div, iframe, {
            padding: 2px;
            font-size: large;
            font: weight 400;
            color: white;
            text-align:center;
        }
        body {
            background-color: black;
            color:rgb(255, 255, 255);
            font-size:large;
            font-family:Arial, Helvetica, sans-serif;
            text-align:center;
            align-items: center;
            margin: auto;
            vertical-align: middle;
        }
        input[type=text],input[type=password]{
        width: 12em;
        height: 40px;
        padding: 5px;
        margin-bottom: 25px;
        margin-top: 5px;
        border: 2px solid #ccc;
        color: #2c2c2c;
        font-size: 16px;
        border-radius: 5px;
        }
        label{
        color: #d7d7d7;
        text-shadow: 0 2px 0 #071d3a;
        font-size: 20px;
        font-weight: bold;
        }
        .container {
            width:200px;
            visibility:inherit ;
            

        }
        .valid{
        color:rgb(0, 183, 137);
        }
        .back{
        text-decoration: none;
        border: 1px solid rgb(0, 143, 255);
        background-color: rgb(0, 214, 255);
        padding: 3px 20px;
        border-radius: 2px;
        color: black;
        }
        input[type=button]{
        font-size: 16px;
        background: linear-gradient(#009572 5%, #0088ba 100%);
        border: 1px solid #004e3c;
        color: #c2edf9;
        font-weight: bold;
        cursor: pointer;
        width: 10em;;
        border-radius: 5px;
        padding: 10px 0;
        outline:none;
        
        }
        input[type=button]:hover{
        background: linear-gradient(#e96d00 5%, #712200 100%);
        border: 1px solid #280d00;
        }
        .cat{
            display: inline;
            width:80%;
            align-content: center;
            vertical-align: middle;
        }
        .hidden{
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            text-align: center;
            align-items: center;   
            vertical-align: middle;
          }

        .hide{
            position: relative;
            display: grid;
            overflow: visible;
            text-align: right;
            margin-right: 50px;
            vertical-align: middle;
         
          }
      
.notblock{display:inline-block}
        

        